

:root{
 /*  Cores principais */
  --color-primary: #1D4ED8;
  --color-primary-hover: #1E40AF;

  --color-success: #15803D;
  --color-success-strong: #145e30;

  --color-alert: #af6b05;
  --color-alert-strong: #b9a810;

  --color-danger: #B91C1C;
  --color-danger-strong: #7F1D1D;

  /*  Base (layout) */
  --color-bg: #0F172A;
  --color-surface: #1E293B;
  --color-border: #334155;

  /*  Texto */
  --color-text: #F8FAFC;
  --color-text-secondary: #CBD5F5;
  --color-text-muted: #64748B;

  /*  Estados */
  --color-hover: #334155;
  --color-active: #475569;

  /* Extras */
  --color-white: #FFFFFF;
  --color-black: #000000;
}

*{
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 25px;
}

header{
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
    width: 50%;
    height: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content:center;
    border: var(--cor-borda) 1 px solid;
}

footer{
    background-color: var(--color-surface);
    width: 50%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
a{
    text-decoration: none;
    color: var(--cor-textoprincipal);
}
nav{
    display: flex;
    gap: 100px;
}
fieldset{
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--color-text);
    
}
.conteudo{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    background-color: var(--color-bg);
    width: 50%;
    gap: 30px;
    padding: 10px;

}
.addTasks, .completedTasks, .currentTasks, .removedTasks{
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 5px;
}
.addTasks{
    background-color: var(--cor-container);
    border-radius: 5px;
    box-shadow: 2px black;
    color: var(--color-text);
}
/* .currentTasks{
    /* border: 1px blue solid; 
    background-color: white;
    padding: 5px;
} */
.completedTasks{
    /* border: 1px green solid; */
    background-color: white;
    padding: 5px;
}

.esgotedTasks{
    /* border: 1px red solid; */
    background-color: white;
    padding: 5px;
}
.taskAdd{    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap:10px;
}

.btnTask{
    height: 25px;
    border-radius: 5px ;
    /* background-color: red; */
    color: var(--color-black);
    padding: 0px 5px;
}

.btnTask:hover{
    cursor: pointer;
}

.calendario{
    background-color: red;
}
.Task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 5px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 14px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.traco{
    border-bottom: 1px solid var(--color-border);
}
.fieldTasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: baseline;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid var(--color-border);
    font-size: 13px;
}
.data-butons{
    display: flex;
    width: 100%;
    gap: 5px;
}
.butons{
    width: 10%;
    display: flex;
    justify-content: end;
}
#tarefas{
    width: 100%;
    height: 25px;
    border-radius: 4px;
    padding: 0px 5px;
    
}

#data{
    border-radius: 4px;
    border: 1px solid var(--color-border);
    padding: 0px 3px;
    cursor: pointer;
}
#data:focus{
    outline: none;
    cursor: text;
}
button{
    width: 75px;
    padding: 0px 5px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
    
}
button:hover{
    cursor: pointer;
    background-color: var(--color-hover);
}
button:active{
    background-color: rgb(59, 59, 241);
}

.confirm{
    animation: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin: 5px;
}
.confirm:hover{
    cursor: pointer;
    /* width: 22px;
    height: 22px; */
    /* margin: 4px; */


}
.confirm:active{
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin: 4px;


}
.responsavel{
    display: flex;
    justify-content: space-between;
}
#concluidas .butons, #removidas .butons{
    display: none;
}
.completedTasks .Task, .completedTasks .text{
    width: 100%;
    background-color: var(--color-success);
    border-color: var(--color-success-strong);
}

.removedTasks .Task, .removedTasks .text{
    width: 100%;
    background-color: var(--color-danger);
    border-color: var(--color-danger-strong);
}

.esgotedTasks .Task, .esgotedTasks .text{
    width: 100%;
    background-color: var(--color-alert);
    border-color: var(--color-alert-strong);
}
